@charset "utf-8";
#content {
	height: auto;
	width: 960px;
	background-color: #D2D2D2;
	position: relative;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	background-image: url(../boo_images/contentbg.jpg);
	color: #FFF;
	font-family: Calibri;
	padding-top: 20px;
	padding-bottom: 20px;
}
#text {
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}
