@charset "utf-8";
.content {
	height: 800px;
	width: 960px;
	background-color: #D2D2D2;
	position: relative;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	background-image: url(../boo_images/contentbg.jpg);
}
